body {
    background-color: cornflowerblue;
}

#todayDiv {
    background: aliceblue;
    border-radius: 15px;
    padding: 2%;
    margin: auto;
    text-align: center;
    display: grid;
    justify-items: normal;
}

#forecast {
    background: aliceblue;
    border-radius: 15px;
    padding: 2%;
    margin: 10px auto;
    text-align: center;
    display: grid;
    justify-items: normal; 
}

#searchDiv {
    margin: 2% auto;
    display: grid;
    justify-items: center;
}

#searchCol {
    display: flex;
}

#submit {
    margin-left: 4px
}